<html>
    <head>
        <meta charset="utf-8">
        <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"   integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="   crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body class="col-md-12 col-sm-12 m-auto col-lg-12  px-md-4">
        <header>
            <div id = "header-container" class=" d-flex justify-content-between">
                <div id = "header-info test-information" class="col-md-5 py-2">
                    <div>
                        <b>Question:</b> <a id = "current-question"></a>
                    </div>
                    <div>
                        <b>Section:</b> <a id = "current-section"></a>
                    </div>
                </div>
                <div id = "header-info timer" class="col-md-4 py-2 d-flex">
                    <div id="timer-icon" class="py-1 px-1">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                    <div id="timer-content">
                        <b>Time Remaining</b>
                        <div id = "countdown">
                            00:00:00
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-4 float-right">
                    <button id="finish-button" onclick="submit()">Finish</button>
                </div>
                
            </div>
            <div id="sub-header" class=" d-flex justify-content-between">
                <div>
                    <p>
                        <b>Test:</b> <a th:text="${test.TestName}"></a>
                    </p>
                </div>
                <div>
                    <p>
                        <b>Candidate:</b> <a th:text="${candidate}"></a>
                    </p>
                </div>
            </div>
            
        </header>
        <main style="height: 76vh; overflow: scroll;">
            <div class=" d-flex px-0 d-flex">
                <div id = "nav" class="col-2 px-0 py-2">
                </div>
                <div id = "test" class="col-10 d-flex">
                    <div id = "question-indicator" class="col-1 px-0 py-4">
                    </div>
                    <div class="col-11 py-4">
                        <div id = "question" class="py-5">
                        </div>
                        <div id="languages" class="col-8 px-0 py-4">
                            <div id = "language-button" class="col-8 px-0 py-2">
                                <button id="toggle-language" type="button" data-bs-toggle="modal" data-bs-target="#popup">Your Language</button>
                            </div>
                        </div>
                        <div id="question-image" class="mt-4">

                        </div>
                        <div id="question-audio" class="mt-4">

                        </div>

                        <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="popupLabel">Languages</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#popup" aria-label="Close" >
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id = "language-options">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id = "options" class="col-8 py-5">
                        </div>
                        <div id = "end" class="py-5">
                            をもって終了とさせていただきます
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            
        </main>
        <footer class="mt-auto">
            <div id = "header-container" class="d-flex justify-content-center">
                <div id = "back" class="col-1 py-4 mr-4">
                    <button id="back-button" onclick="previousQuestion()">Back</button>
                </div>
                <div class="col-1 py-4 ml-4">
                    <button id="next-button" onclick="nextQuestion()">Next</button>
                </div>
                
            </div>
            
            <!--<div th:each="section : ${sections}">
                <div th:text="${section.text}"></div>
            </div>-->

        </footer>
        
    </body>
    <style>
        header{
            width: 100%;
            height: fit-content;
            color: azure !important;
        }
        #header-container{
            background-color: black;
        }
        #sub-header{
            background-color: rgb(116, 180, 116);
            font-size: 18px;
        }
        #timer-icon{
            font-size: 35px;
        }
        #finish-button{
            width: 150px;
            height:30px;
            background-color: antiquewhite;
            border: none;
            cursor: pointer;
        }
        #nav{
            background-color: rgb(220, 221, 221);
            overflow: hidden;
            font-size: 16px;
        }
        #line{
            height: 4px;
            width: 80%;
            background-color: rgb(116, 180, 116);
            margin-top: 10px;
        }
        #back-button, #next-button{
            color: white;
            background-color: rgb(116, 180, 116);
            border: none;
            cursor: pointer;
            font-size: 20px;
        }
        #section-name-selected{
            background-color: white;
        }
        #question-number{
            text-align: center;
            background-color: rgb(153, 201, 153);
        }
        #question-number-current{
            text-align: center;
            background-color: rgb(153, 201, 153);
            border:solid 2px rgb(67, 109, 67)
        }
        #question, #end{
            background-color: aliceblue;
            text-align: center;
            font-size: 20px;
        }
        #end {
            display:none;
        }
        #question-image{
            width: fit-content;
            margin: auto;
        }
        #question-image img{
            width: 100%;
        }
        .highlight {
            border: solid 2px rgb(235, 160, 96) !important;
            background-color: rgb(250, 234, 220);
        }
        .row{
            padding: 10px 5px;
            margin: 10px;
            text-align: left;
            border: solid 2px rgb(0, 0, 0);
            font-size: 20px;
            font-weight: 700;
        }
        .row:hover{
            background-color: rgb(250, 234, 220);
        }
        .radio{
            cursor: pointer;
        }
        .row {
        display: flex;
        justify-content: center; /* centers the row horizontally */
        }

        .col {
        display: flex;
        align-items: center; /* centers the content vertically */
        }

        .col > .radio{
            padding:  10px;
        }

        .option-image {
        width: 100px; /* adjust the width as needed */
        margin-right: 10px; /* adds some space between the image and radio button */
        }
       
    </style>
    <!--
        Submit Script
    -->
    <script th:if="${role} != 'ADMIN' ">
        async function submit() {
            saveAnswer();
            if(answer == null){
                return;
            }
            var testID = parseInt("[[${test.testID}]]");
            var response = fetch("https://kjlc.myexamcenter.com/user/test/submit/" + testID, {
                method: "POST",
                body: JSON.stringify(answer),
                headers: {
                "Content-type": "application/json; charset=UTF-8"
                }
            });
            var url = await response;
            if(url != null){
                document.getElementById('finish-button').style.display = 'none';
            }
            console.log(url, answer)
            window.location.href = (url.url)
        }
    </script>
    <script th:if="${role} == 'ADMIN' ">
        async function submit() {
            window.location.href = ('/admin/test/get')
        }
    </script>
    <!--
        Radio options script
    -->
    <script>
        $(document).ready(function() {
        $('#options input:radio').change(function() {
            $('div.highlight').removeClass('highlight');
            $(this).closest('.row').addClass('highlight');
        });
        });

    </script>
    <!--
        Timer script
    -->
    <script>
        var duration = parseInt('[[${test.duration}]]')
        var countDownDate = new Date().getTime() + (duration * 60 * 1000);
        var countdownTimer = setInterval(function () {
          var now = new Date().getTime();
          var distance = countDownDate - now;
          var minutes = Math.floor(distance / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          document.getElementById("countdown").innerHTML = minutes + "m " + seconds + "s";
          if (distance < 0) {
            submit();
          }
        }, 1000);
    
    </script>
    <!--
        Sidebar script
    -->
    <script th:inline = "javascript">
        var parts = [[${sections}]];
        var nav = document.getElementById('nav');
        for(var i = 0; i < parts.length; i ++){
        }
        function displaySectionList(index){
            var childNode = document.createElement('div');
            for(var i = 0; i < parts.length; i ++){
                if(parts[index].text == parts[i].text){
                    var part = `<div id="section-name-selected" class="px-1 py-2">
                            <a>`+parts[i].text+`</a>
                            `;
                }  
                else{
                    var part = `<div id="section-name" class="px-1 py-2">
                            <a>`+parts[i].text+`</a>
                        `;
                }
                if(i < partIndex){
                    part += `<div id="line"></div>`;
                }
                part += `</div>`;
                childNode.innerHTML += part;
            }
            nav.replaceChild(childNode,nav.firstChild)
        }
        
    </script>
    <!--
        Section script
    -->
    <script th:inline="javascript">
        var sections = [[${sections}]];
        var questions = [[${questions}]];
        var questionBySection = [];
        for(var i = 0; i<sections.length;i++){
            var questionObject = [];
            for(var j = 0; j<questions.length;j++){
                if(questions[j].partid == sections[i].sectionID){
                    questionObject.push(questions[j]);  
                }
            }
            questionBySection.push(questionObject)
        }
        
    </script>
     <!--
        Language script
    -->
    <script>
        function displayLanguages(qInNative,qInEnglish){
            var parentDiv = document.getElementById('language-options');
            var childNode = document.createElement('div');
            childNode.innerHTML = `<ul>
                                        <li>Nepali:<p> `+qInNative+`</p></li>
                                        <li> English:<p>`+qInEnglish+`</p></li>
                                    </ul>`
            parentDiv.replaceChild(childNode, parentDiv.firstChild);
        }
    </script>
    <!--
        Question Indicator script
    -->
    <script>
        var questionIndicatorParentNode = document.getElementById('question-indicator');
        function displayQuestionList(sectionLength, qNumber){
            var containerNode = document.createElement('div'); 
            for(var i = 0; i<sectionLength; i++){
                var childNode = document.createElement('div');
                if(i == qNumber){
                    childNode.innerHTML = `<div id="question-number-current" class="mt-1">`+(i+1)+`</div>`;
                }
                else{
                    childNode.innerHTML = `<div id="question-number" class="mt-1">`+(i+1)+`</div>`;
                }
                containerNode.appendChild(childNode);
            }
            questionIndicatorParentNode.replaceChild(containerNode, questionIndicatorParentNode.firstChild)
        }
    </script> 
    
    <!--
        Question script
    -->
    <script th:inline="javascript">
        var questionsParentDiv = document.getElementById('question');
        var optionsParentDiv = document.getElementById('options');
        var currentQuestionDiv = document.getElementById('current-question');
        var currentSectionDiv = document.getElementById('current-section');
        var imageParentDiv = document.getElementById('question-image');
        var audioParentDiv = document.getElementById('question-audio');
        var optionNode = document.createElement('div');
        var imageNode = document.createElement('div');
        var audioNode = document.createElement('div');
        var backButton = document.getElementById('back-button');
        var nextButton = document.getElementById('next-button');
        var i = -1;
        var partIndex = 0;
        var sectionLength;
        var imageBasePath = '/media/';
        var audioBasePath = '/media/';
        function display(){
            try{
                if(questionBySection[partIndex][i+1] != null){
                    i++;
                }
                else{
                    if(questionBySection[partIndex+1] != null){
                        partIndex ++;
                        i = 0;
                    }
                    else{
                        testEnd();
                        return;
                    }   
                }
                if(i == 0){
                    backButton.style.display = 'none';
                }
                else{
                    backButton.style.display = 'initial';
                }
            }
            catch{

            }
            try{
                q = questionBySection[partIndex][i];
                sectionLength = questionBySection[partIndex].length;
            }
            catch (error) {
                console.log(error)
            }
            var qNative = q.questionInNativeLanguage;
            var qEnglish = q.questionInEnglish;
            audioNode.innerHTML = "";
            if(q.optionAsImage){
                optionNode.innerHTML = `<div class="row">
                                            <div class = "col">
                                                <label class="radio pr-4">
                                                    <input type="radio" name="answer" value="A">
                                                </label>
                                                <img src ="`+imageBasePath+q.optionA+`.png" height = "200px">
                                            </div>
                                        </div>  
                                        <div class="row">
                                            <div class = "col">
                                                <label class="radio pr-4">
                                                    <input type="radio" name="answer" value="B">
                                                </label>
                                                <img src ="`+imageBasePath+q.optionB+`.png" height = "200px">
                                            </div>
                                        </div>  
                                        <div class="row">
                                            <div class = "col">
                                                <label class="radio pr-4">
                                                    <input type="radio" name="answer" value="C">
                                                </label>
                                                <img src ="`+imageBasePath+q.optionC+`.png" height = "200px">
                                            </div>
                                        </div> `;
                if(q.optionD!=null && q.optionD !=null){
                    optionNode.innerHTML += `<div class="row">
                                                <div class = "col">
                                                    <label class="radio pr-4">
                                                        <input type="radio" name="answer" value="D">
                                                    </label>
                                                    <img src ="`+imageBasePath+q.optionD+`.png" height = "200px">
                                                </div>
                                            </div>  `;
                }
            }
            else{
                optionNode.innerHTML = `<div class="row">
                                        <label class="radio">
                                            <input type="radio" name="answer" value="A"> `+q.optionA+`
                                        </label>
                                    </div>  
                                    <div class="row">
                                        <label class="radio">
                                            <input type="radio" name="answer" value="B"> `+q.optionB+`
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="radio">
                                            <input type="radio" name="answer" value="C"> `+q.optionC+`
                                        </label>
                                    </div>`;
                if(q.optionD!=null && q.optionD.trim() !=""){
                    optionNode.innerHTML += `<div class="row">
                                                <label class="radio">
                                                    <input type="radio" name="answer" value="D"> `+q.optionD+`
                                                </label>
                                            </div>`;
                }
            }
                                    
            optionsParentDiv.replaceChild(optionNode, optionsParentDiv.firstChild);              
            if(q.image!=null){
                imageNode.innerHTML= `<img src ="`+imageBasePath+q.image+`.png">`;
                imageParentDiv.replaceChild(imageNode, imageParentDiv.firstChild);
            }
            if(q.audio!=null){
                audioNode.innerHTML=    `<audio controls>
                                            <source src="`+ audioBasePath+q.audio + `.mp3" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>`;
                audioParentDiv.replaceChild(audioNode, audioParentDiv.firstChild);
            }
            questionsParentDiv.innerHTML = q.questionText;
            currentQuestionDiv.innerHTML = i + 1;
            currentSectionDiv.innerHTML = sections[partIndex].text;
            displayLanguages(qNative,qEnglish);
            displayQuestionList(sectionLength, i);
            displaySectionList(partIndex);
            
        }
        function previousQuestion(){
            if(i > 0){
                i -= 2;  
            }
            else{
                if(partIndex > 0){
                    partIndex --;
                    console.log(partIndex, i);
                }
            }
            display();
        }
        display();
    </script>
    <!--
        End of test script
    -->
    <script>
        function testEnd(){
            questionsParentDiv.style.display = 'none';
            optionsParentDiv.style.display = 'none';
            questionIndicatorParentNode.style.display = 'none';
            imageParentDiv.style.display = 'none';
            nextButton.style.display = 'none';
            document.getElementById("end").style.display = 'flex';
            displayLanguages("तपाईं आफ्नो परीक्षाको अन्त्यमा पुग्नुभएको छ।","You have reached the end of your exam.");
            
        }
    </script>
    <!--l
        Save Answer Script
    -->
    <script>
        var answer = [];
        var optionsDiv = document.getElementById('options');
        var radios = optionsDiv.getElementsByTagName('input');
        function saveAnswer(){
            var questionIndex = parseInt(currentQuestionDiv.textContent) - 1;
            var selectedOption = null;
            for(var i = 0; i<radios.length; i++){
                var radio = radios[i];
                if(radio.checked){
                    selectedOption = radio.value;
                    break;
                }
            }
            var currentQuestionID = questionBySection[partIndex][questionIndex].questionID;
            var currentAnswer = { 
                questionID : currentQuestionID,
                answer : selectedOption
            };            
            for(var i = 0; i < answer.length; i++){
                if(answer[i].questionID == currentAnswer.questionID){
                    answer.pop(i);
                }
            }
            answer.push(currentAnswer);

        }

    </script>
    <!--
        Next question script
    -->
    <script>
        function nextQuestion(){
            try{
                saveAnswer();
                display();
            }
            catch(error){
                console.log(error);
            }
            
        }
    </script>
    
</html>
