<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="author" content="Deviz">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="/css/CreateTest.css">
	<title>KJLC Student Dashboard</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<!-- Custom styles for this template -->
	<link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
	<header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow">
		<div class="logo aln-mid">
			<a href="/"><img src="/images/kantipur-logo.png" alt="KantipurJapanese Language Center" /></a>
		</div>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
			data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
			</div>
		</div>
	</header>
<div class="container-fluid">
	
	<div class="row">
		
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
			<div class="position-sticky pt-3 sidebar-sticky">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/user/home">
						  <span data-feather="home" class="align-text-bottom"></span>
						   Student Dashboard
						</a>
					</li>
				</ul>
				<div class="accordion" id="accordionDashboardNav">
  					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Manage Account
							</button>
						</h2>
    					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionDashboardNav">
							<div class="accordion-body">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="/user/list/tests">
										<span data-feather="list" class="align-text-bottom"></span>
										Take Tests
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link " href="/user/list/results">
										<span data-feather="bar-chart-2" class="align-text-bottom"></span>
										My Results
										</a>
									</li>
                    				<li class="nav-item">
										<a class="nav-link" href="/user/edit">
										<span data-feather="user" class="align-text-bottom"></span>
										Update My Details
										</a>
									</li>
									</li>
									<li class="nav-item">
														<a class="nav-link" href="/user/buy-credit">
														<span style="color:rgba(41, 139, 106, 0.842);" data-feather="trending-up" class="align-text-bottom"></span>
															Buy Credit
														</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div style="display: flex; justify-content:space-between; margin: 16px;">
						<div> <span style="color:rgba(41, 139, 106, 0.842); font-size: 26px !important;" data-feather="award" class="align-text-bottom"></span> <a style="margin-left: 4px;">Credit</a></div>
						<div th:text="${student.credit}"> </div>
					</div>
				</div>
        
				<div class="navbar-nav mt-auto" style="margin-top: auto;">
					<div class="nav-item text-nowrap">
						<a class="nav-link px-3" href="/logout">
							<span data-feather="log-out" class="align-text-bottom"></span>
							Sign out</a>
					</div>
				</div>
			</div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <h4>Current Statistics</h4>
  <div class="row">
    <div class="col-lg-3 col-6 card-row">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
      <h3 th:text="${tests}"></h3>
      <p>Total Tests Taken</p>
      </div>
      <span data-feather="file-plus" class="box-icon"></span>
      <a href="/user/list/tests" class="small-box-footer">
      More info <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
    </div>

    <div class="col-lg-3 col-6 card-row">
      <!-- small card -->
      <div class="small-box bg-success">
        <div class="inner">
        <h3 th:text="${performance}"></h3>
        <p>Average Performance</p>
        </div>
        <span data-feather="trending-up" class="box-icon"></span>
        <a href="/user/list/results" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6 card-row">
    <!-- small card -->
    <div class="small-box bg-warning">
      <div class="inner">
      <h3 th:text="${userDetails.level}"></h3>
      <p>My Level</p>
      </div>
      <span data-feather="bar-chart" class="box-icon"></span>
      <a href="/user/edit" class="small-box-footer">
      Viw My Details <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
    </div>
    <div class="col-lg-3 col-6 card-row">
    <!-- small card -->
		<div class="small-box bg-danger">
		<div class="inner">
		<h3 th:text="${userDetails.batch}"></h3>
		<p>Batch</p>
		</div>
		<span data-feather="award" class="box-icon"></span>
		<a href="/user/edit" class="small-box-footer">
		View My Details <i class="fas fa-arrow-circle-right"></i>
		</a>
		</div>
    </div>
	<div class="col-lg-3 col-6 card-row">
		<!-- small card -->
			<div class="small-box bg-primary">
			<div class="inner">
			<h3 th:text="0"></h3>
			<p>Certificates</p>
			</div>
			<a href="/user/edit" class="small-box-footer">
			View My Certificates <i class="fas fa-arrow-circle-right"></i>
			</a>
			</div>
		</div>
    <!-- ./col -->
  </div>
  <div th:if="${!student.verified}"> 
	<div style="background-color: #cfe2ff !important;
    		color: #0a58ca !important;
			padding: 10px;
			margin-top: 20px;
			border: solid 2px #0a57ca55;
			">
		<p><b style="color: rgba(217, 40, 40, 0.693);"> Account not verfied! </b><br><i class="fa-solid fa-circle-info"></i> Please check your mail to verify your account. </p>
		<a onclick="openVerificationWindow()" style="cursor: pointer;">Verify Now</a>
  	</div>
	<div id="verification-window" style="display: none; margin-top: 10px !important;">
		<input style="padding: 5px 8px; border: 1px solid #0a58ca ;" type="text" placeholder="Enter Token" name="token" id="tokenField">
		<button onclick="verifyToken()" style="padding: 5px 10px;border: 1px solid #0a58ca; background-color: #cfe2ff; color: #0a58ca; border-radius: 6px;">Verify</button>
	</div>
  </div>
  <div th:if="${verifiedMessage}" style="background-color: #cfe2ff !important;
    		color: #0a58ca !important;
			padding: 10px;
			margin-top: 20px;
			border: solid 2px #0a57ca55;
			">
		<p><b style="color: rgba(44, 114, 28, 0.693);" th:text="${verifiedMessage}">  </b></p>
		<a onclick="openVerificationWindow()" style="cursor: pointer;">Verify Now</a>
  	</div>
  

  <script>
	var tokenField = document.getElementById("tokenField");
	function openVerificationWindow(){
		document.getElementById("verification-window").style.display = "initial";
	}
	async function verifyToken() {
		//fetch("https://kjlc.myexamcenter.com/user/verify/", {
		// var response = fetch("http://localhost:8080/user/verify", {
		var response = fetch("https://kjlc.myexamcenter.com/user/verify", {
			method: "POST",
			body: JSON.stringify(tokenField.value),
			headers: {
			"Content-type": "application/json; charset=UTF-8"
			}
		})
		var url = await response;
		window.location.reload();
	}
  </script>
  <!-- /.row -->
</main>

  </div>
</div>


    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
	  <script src="/js/dashboard.js"></script>
    <footer>
      <div class="copy">
        &copy; 2023 - 2025. All Rights Reserved. <br/><a href="https://www.kantipurjlcenter.com.np" target="_blank">Kantipur Japanese Language Center</a>
      </div>
    </footer>
  </body>
</html>
